@import url('https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akari&display=swap');

body {
    font-family: 'Yuji Hentaigana Akari', cursive;
    background-color: #DBE6FF;
}

i {
    font-size: 20px;
}

.bar {
    background-color: #000057;
}

.btn-filter {
    background-color: #000057;
    border: none;
}

.btn-filter:focus {
    background-color: #5454ba;
}

.btn-filter:hover {
    background-color: #5454ba;
}

.active {
    background-color: #5454ba !important;
}

.btn {
    box-shadow: none !important;
    outline: none !important;
 }
