@import url('https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akari&display=swap');

body {
    font-family: 'Yuji Hentaigana Akari', cursive;
    background-color: #DBE6FF;
}

i {
    font-size: 20px;
}

.bar {
    background-color: #000057;
}